<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LNegocioyADatos.Properties.Settings.taxiConnectionString"
            connectionString="server=localhost;user id=root;password=altair;database=taxi"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>