<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogicaNegocios.Properties.Settings.BD_AlumnosFPConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\ALUM02\Source\Repos\DWS\ProyectoWebAlumnosFP (Punto de partida)\WebAlumnosFP\App_Data\BD_AlumnosFP.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>